# Dataprep
- Mik a lépések

## 1. Import packeges

In [4]:
#pip install h5py

In [5]:
import h5py
import os
import pandas as pd
import numpy as np
import datetime
import scipy

In [6]:
adapt_path = '/Users/szejozsef00/Desktop/MSC/MSC 2. félév/DS Lab I/DSLAB1/data/adapt/'
train_path = '/Users/szejozsef00/Desktop/MSC/MSC 2. félév/DS Lab I/DSLAB1/data/train/'

output_path = '/Users/szejozsef00/Desktop/MSC/MSC 2. félév/DS Lab I/DSLAB1/data/processed/'

## 2. Load the data
- Explore the input file structure
- Load the adapt data to dataframe
- Load the train data to dataframe
- Concatenate together and sort by Datetime

In [7]:
# Check one .h5 file structure
def print_it(name):
    dset = f[name]
    print(dset)
    print(type(dset))

with h5py.File(train_path + 'X1.h5', 'r') as f:
    f.visit(print_it)

<HDF5 group "/X" (2 members)>
<class 'h5py._hl.group.Group'>
<HDF5 dataset "type": shape (), type "|S14">
<class 'h5py._hl.dataset.Dataset'>
<HDF5 group "/X/value" (5 members)>
<class 'h5py._hl.group.Group'>
<HDF5 group "/X/value/X" (2 members)>
<class 'h5py._hl.group.Group'>
<HDF5 dataset "type": shape (), type "|S13">
<class 'h5py._hl.dataset.Dataset'>
<HDF5 dataset "value": shape (231, 1916, 1), type "<f4">
<class 'h5py._hl.dataset.Dataset'>
<HDF5 group "/X/value/aux" (2 members)>
<class 'h5py._hl.group.Group'>
<HDF5 dataset "type": shape (), type "|S7">
<class 'h5py._hl.dataset.Dataset'>
<HDF5 dataset "value": shape (2,), type "<i4">
<class 'h5py._hl.dataset.Dataset'>
<HDF5 group "/X/value/hat" (2 members)>
<class 'h5py._hl.group.Group'>
<HDF5 dataset "type": shape (), type "|S14">
<class 'h5py._hl.dataset.Dataset'>
<HDF5 group "/X/value/hat/value" (2 members)>
<class 'h5py._hl.group.Group'>
<HDF5 group "/X/value/hat/value/X" (2 members)>
<class 'h5py._hl.group.Group'>
<HDF5 dataset "type": shape (), type "|S7">
<class 'h5py._hl.dataset.Dataset'>
<HDF5 dataset "value": shape (2,), type "<i4">
<class 'h5py._hl.dataset.Dataset'>
<HDF5 group "/X/value/hat/value/t" (2 members)>
<class 'h5py._hl.group.Group'>
<HDF5 dataset "type": shape (), type "|S7">
<class 'h5py._hl.dataset.Dataset'>
<HDF5 dataset "value": shape (2,), type "<i4">
<class 'h5py._hl.dataset.Dataset'>
<HDF5 group "/X/value/metadata" (2 members)>
<class 'h5py._hl.group.Group'>
<HDF5 dataset "type": shape (), type "|S7">
<class 'h5py._hl.dataset.Dataset'>
<HDF5 dataset "value": shape (2,), type "<i4">
<class 'h5py._hl.dataset.Dataset'>
<HDF5 group "/X/value/t" (2 members)>
<class 'h5py._hl.group.Group'>
<HDF5 dataset "type": shape (), type "|S7">
<class 'h5py._hl.dataset.Dataset'>
<HDF5 dataset "value": shape (231, 1), type "<f8">
<class 'h5py._hl.dataset.Dataset'>

In [8]:
#get the input files list
adapt_input_files = os.listdir(adapt_path)
train_input_files = os.listdir(train_path)

### Load the data from the adapt folder

In [9]:

adapt_result_df = pd.DataFrame()

#iterate through the input files
for h_file in adapt_input_files:
    print("Actual:", h_file)
    curr_result_df = pd.DataFrame()
    with h5py.File(adapt_path + h_file, 'r') as f:
        #get the values from the h5 file
        val_data = f.get('X/value/X/value')
        val_dataset = np.array(val_data)
        reshaped_val_dataset = val_dataset.reshape(val_dataset.shape[0], val_dataset.shape[1])
        # print("VAL_SHAPE:", reshaped_val_dataset.shape)
        curr_value_df = pd.DataFrame(reshaped_val_dataset)
        
        #get the timestamps from the h5 file
        time_data = f.get('X/value/t/value')
        time_dataset = np.array(time_data)
        # print("TIME SHAPE:", time_dataset.shape)
        curr_time_df = pd.DataFrame(time_dataset, columns=['DATETIME'])

    #concatenate together
    curr_result_df = pd.concat([curr_time_df,curr_value_df],axis=1)
    adapt_result_df = pd.concat([adapt_result_df,curr_result_df],axis=0)
    print("Shape final:", adapt_result_df.shape)

Actual: X33.h5
Shape final: (12, 1917)
Actual: X62.h5
Shape final: (884, 1917)
Actual: X56.h5
Shape final: (1855, 1917)
Actual: X2.h5
Shape final: (3172, 1917)
Actual: X17.h5
Shape final: (4292, 1917)
Actual: X46.h5
Shape final: (4304, 1917)
Actual: X23.h5
Shape final: (5784, 1917)
Actual: X6.h5
Shape final: (5796, 1917)
Actual: X52.h5
Shape final: (5808, 1917)
Actual: X66.h5
Shape final: (5820, 1917)
Actual: X37.h5
Shape final: (5832, 1917)
Actual: X27.h5
Shape final: (5844, 1917)
Actual: X42.h5
Shape final: (5856, 1917)
Actual: X13.h5
Shape final: (5868, 1917)
Actual: X7.h5
Shape final: (5880, 1917)
Actual: X53.h5
Shape final: (6079, 1917)
Actual: X67.h5
Shape final: (6091, 1917)
Actual: X36.h5
Shape final: (6103, 1917)
Actual: X26.h5
Shape final: (6243, 1917)
Actual: X43.h5
Shape final: (6255, 1917)
Actual: X12.h5
Shape final: (6267, 1917)
Actual: X32.h5
Shape final: (9290, 1917)
Actual: X63.h5
Shape final: (9302, 1917)
Actual: X57.h5
Shape final: (9314, 1917)
Actual: X3.h5
Shape final: (9326, 1917)
Actual: X16.h5
Shape final: (9338, 1917)
Actual: X47.h5
Shape final: (10232, 1917)
Actual: X22.h5
Shape final: (10244, 1917)
Actual: X39.h5
Shape final: (10256, 1917)
Actual: X68.h5
Shape final: (12139, 1917)
Actual: X8.h5
Shape final: (12696, 1917)
Actual: X29.h5
Shape final: (13502, 1917)
Actual: X58.h5
Shape final: (13514, 1917)
Actual: X48.h5
Shape final: (13526, 1917)
Actual: X19.h5
Shape final: (13538, 1917)
Actual: X59.h5
Shape final: (13853, 1917)
Actual: X49.h5
Shape final: (13865, 1917)
Actual: X18.h5
Shape final: (13877, 1917)
Actual: X38.h5
Shape final: (16481, 1917)
Actual: X9.h5
Shape final: (16493, 1917)
Actual: X28.h5
Shape final: (16505, 1917)
Actual: X50.h5
Shape final: (16785, 1917)
Actual: X4.h5
Shape final: (16797, 1917)
Actual: X35.h5
Shape final: (17055, 1917)
Actual: X64.h5
Shape final: (17067, 1917)
Actual: X25.h5
Shape final: (17079, 1917)
Actual: X11.h5
Shape final: (17983, 1917)
Actual: X40.h5
Shape final: (17995, 1917)
Actual: X60.h5
Shape final: (18007, 1917)
Actual: X31.h5
Shape final: (18019, 1917)
Actual: X0.h5
Shape final: (18031, 1917)
Actual: X54.h5
Shape final: (18043, 1917)
Actual: X44.h5
Shape final: (18526, 1917)
Actual: X15.h5
Shape final: (18538, 1917)
Actual: X21.h5
Shape final: (18550, 1917)
Actual: X61.h5
Shape final: (18562, 1917)
Actual: X30.h5
Shape final: (18574, 1917)
Actual: X1.h5
Shape final: (18586, 1917)
Actual: X55.h5
Shape final: (18598, 1917)
Actual: X45.h5
Shape final: (18610, 1917)
Actual: X14.h5
Shape final: (20737, 1917)
Actual: X20.h5
Shape final: (21875, 1917)
Actual: X51.h5
Shape final: (21887, 1917)
Actual: X5.h5
Shape final: (22051, 1917)
Actual: X34.h5
Shape final: (22063, 1917)
Actual: X65.h5
Shape final: (24122, 1917)
Actual: X24.h5
Shape final: (24134, 1917)
Actual: X10.h5
Shape final: (24146, 1917)
Actual: X41.h5
Shape final: (24819, 1917)

In [10]:
#format the date and sort the data
adapt_result_df['DATETIME'] = pd.to_datetime(adapt_result_df['DATETIME'], unit='s')
adapt_result_df = adapt_result_df.sort_values(['DATETIME'])
adapt_result_df.reset_index(drop=True,inplace=True)

In [11]:
#Check the result
adapt_result_df.head(5)

,DATETIME,0,1,2,3,4,5,6,7,8,...,1906,1907,1908,1909,1910,1911,1912,1913,1914,1915
0,2010-07-01 18:05:00,342.600006,-72.300003,0.0,504.899994,245.410004,762.429993,925.150024,0.0,618.489990,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2010-07-01 18:10:00,340.519989,-77.459999,0.0,465.290009,244.770004,743.580017,911.150024,0.0,619.239990,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2010-07-01 18:15:00,332.220001,-84.269997,0.0,481.130005,240.809998,752.510010,923.549988,0.0,622.340027,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2010-07-01 18:20:00,323.000000,-74.360001,0.0,490.679993,236.600006,769.719971,937.260010,0.0,577.380005,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2010-07-01 18:25:00,302.429993,-88.839996,0.0,487.970001,212.750000,773.739990,933.130005,0.0,577.349976,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Load the data from the train folder

In [12]:
train_result_df = pd.DataFrame()

#iterate through the input files
for h_file in train_input_files:
    print("Actual:", h_file)
    curr_result_df = pd.DataFrame()
    with h5py.File(train_path + h_file, 'r') as f:
        #get the values from the h5 file
        val_data = f.get('X/value/X/value')
        val_dataset = np.array(val_data)
        reshaped_val_dataset = val_dataset.reshape(val_dataset.shape[0], val_dataset.shape[1])
        # print("VAL_SHAPE:", reshaped_val_dataset.shape)
        curr_value_df = pd.DataFrame(reshaped_val_dataset)
        
        #get the timestamps from the h5 file
        time_data = f.get('X/value/t/value')
        time_dataset = np.array(time_data)
        # print("TIME SHAPE:", time_dataset.shape)
        curr_time_df = pd.DataFrame(time_dataset, columns=['DATETIME'])

    #concatenate together
    curr_result_df = pd.concat([curr_time_df,curr_value_df],axis=1)
    train_result_df = pd.concat([train_result_df,curr_result_df],axis=0)
    print("Shape final:", train_result_df.shape)

Actual: X135.h5
Shape final: (12, 1917)
Actual: X33.h5
Shape final: (24, 1917)
Actual: X62.h5
Shape final: (36, 1917)
Actual: X164.h5
Shape final: (48, 1917)
Actual: X206.h5
Shape final: (60, 1917)
Actual: X197.h5
Shape final: (72, 1917)
Actual: X91.h5
Shape final: (1440, 1917)
Actual: X257.h5
Shape final: (1452, 1917)
Actual: X150.h5
Shape final: (1464, 1917)
Actual: X56.h5
Shape final: (1476, 1917)
Actual: X2.h5
Shape final: (1488, 1917)
Actual: X101.h5
Shape final: (1500, 1917)
Actual: X263.h5
Shape final: (1512, 1917)
Actual: X232.h5
Shape final: (2655, 1917)
Actual: X222.h5
Shape final: (2667, 1917)
Actual: X273.h5
Shape final: (2679, 1917)
Actual: X111.h5
Shape final: (2691, 1917)
Actual: X280.h5
Shape final: (4813, 1917)
Actual: X17.h5
Shape final: (4825, 1917)
Actual: X46.h5
Shape final: (5132, 1917)
Actual: X140.h5
Shape final: (5144, 1917)
Actual: X247.h5
Shape final: (5172, 1917)
Actual: X81.h5
Shape final: (5184, 1917)
Actual: X187.h5
Shape final: (5342, 1917)
Actual: X216.h5
Shape final: (5354, 1917)
Actual: X174.h5
Shape final: (5366, 1917)
Actual: X72.h5
Shape final: (5378, 1917)
Actual: X23.h5
Shape final: (5390, 1917)
Actual: X125.h5
Shape final: (5402, 1917)
Actual: X6.h5
Shape final: (5414, 1917)
Actual: X105.h5
Shape final: (5426, 1917)
Actual: X52.h5
Shape final: (5528, 1917)
Actual: X154.h5
Shape final: (6458, 1917)
Actual: X236.h5
Shape final: (6470, 1917)
Actual: X267.h5
Shape final: (6482, 1917)
Actual: X160.h5
Shape final: (7891, 1917)
Actual: X66.h5
Shape final: (7903, 1917)
Actual: X37.h5
Shape final: (8332, 1917)
Actual: X131.h5
Shape final: (8344, 1917)
Actual: X253.h5
Shape final: (9334, 1917)
Actual: X95.h5
Shape final: (9346, 1917)
Actual: X193.h5
Shape final: (11101, 1917)
Actual: X202.h5
Shape final: (11734, 1917)
Actual: X212.h5
Shape final: (11746, 1917)
Actual: X183.h5
Shape final: (11758, 1917)
Actual: X85.h5
Shape final: (15088, 1917)
Actual: X243.h5
Shape final: (15100, 1917)
Actual: X121.h5
Shape final: (15706, 1917)
Actual: X27.h5
Shape final: (15718, 1917)
Actual: X76.h5
Shape final: (16564, 1917)
Actual: X170.h5
Shape final: (16576, 1917)
Actual: X277.h5
Shape final: (17221, 1917)
Actual: X226.h5
Shape final: (18111, 1917)
Actual: X144.h5
Shape final: (18123, 1917)
Actual: X42.h5
Shape final: (18135, 1917)
Actual: X13.h5
Shape final: (19071, 1917)
Actual: X284.h5
Shape final: (19083, 1917)
Actual: X115.h5
Shape final: (20142, 1917)
Actual: X7.h5
Shape final: (20324, 1917)
Actual: X104.h5
Shape final: (20336, 1917)
Actual: X155.h5
Shape final: (20348, 1917)
Actual: X53.h5
Shape final: (20360, 1917)
Actual: X237.h5
Shape final: (20372, 1917)
Actual: X266.h5
Shape final: (20384, 1917)
Actual: X67.h5
Shape final: (22956, 1917)
Actual: X161.h5
Shape final: (22968, 1917)
Actual: X130.h5
Shape final: (23594, 1917)
Actual: X36.h5
Shape final: (23606, 1917)
Actual: X252.h5
Shape final: (23618, 1917)
Actual: X203.h5
Shape final: (23630, 1917)
Actual: X192.h5
Shape final: (23642, 1917)
Actual: X94.h5
Shape final: (23914, 1917)
Actual: X84.h5
Shape final: (23926, 1917)
Actual: X182.h5
Shape final: (23938, 1917)
Actual: X213.h5
Shape final: (23950, 1917)
Actual: X242.h5
Shape final: (23962, 1917)
Actual: X26.h5
Shape final: (23974, 1917)
Actual: X120.h5
Shape final: (23986, 1917)
Actual: X171.h5
Shape final: (23998, 1917)
Actual: X77.h5
Shape final: (24010, 1917)
Actual: X276.h5
Shape final: (24022, 1917)
Actual: X227.h5
Shape final: (24034, 1917)
Actual: X43.h5
Shape final: (25227, 1917)
Actual: X145.h5
Shape final: (28656, 1917)
Actual: X114.h5
Shape final: (28668, 1917)
Actual: X285.h5
Shape final: (28680, 1917)
Actual: X12.h5
Shape final: (28692, 1917)
Actual: X32.h5
Shape final: (28704, 1917)
Actual: X134.h5
Shape final: (28716, 1917)
Actual: X165.h5
Shape final: (28728, 1917)
Actual: X63.h5
Shape final: (28740, 1917)
Actual: X90.h5
Shape final: (28752, 1917)
Actual: X196.h5
Shape final: (29413, 1917)
Actual: X207.h5
Shape final: (29425, 1917)
Actual: X256.h5
Shape final: (30842, 1917)
Actual: X57.h5
Shape final: (30854, 1917)
Actual: X151.h5
Shape final: (31562, 1917)
Actual: X3.h5
Shape final: (31574, 1917)
Actual: X100.h5
Shape final: (31850, 1917)
Actual: X262.h5
Shape final: (32122, 1917)
Actual: X233.h5
Shape final: (32134, 1917)
Actual: X223.h5
Shape final: (32811, 1917)
Actual: X272.h5
Shape final: (32823, 1917)
Actual: X16.h5
Shape final: (33745, 1917)
Actual: X281.h5
Shape final: (33757, 1917)
Actual: X110.h5
Shape final: (33769, 1917)
Actual: X141.h5
Shape final: (33781, 1917)
Actual: X47.h5
Shape final: (33793, 1917)
Actual: X246.h5
Shape final: (33805, 1917)
Actual: X217.h5
Shape final: (36596, 1917)
Actual: X186.h5
Shape final: (36608, 1917)
Actual: X80.h5
Shape final: (36620, 1917)
Actual: X73.h5
Shape final: (37449, 1917)
Actual: X175.h5
Shape final: (37789, 1917)
Actual: X124.h5
Shape final: (38023, 1917)
Actual: X22.h5
Shape final: (38928, 1917)
Actual: X39.h5
Shape final: (38940, 1917)
Actual: X68.h5
Shape final: (38952, 1917)
Actual: X269.h5
Shape final: (38964, 1917)
Actual: X238.h5
Shape final: (39163, 1917)
Actual: X8.h5
Shape final: (39175, 1917)
Actual: X228.h5
Shape final: (39187, 1917)
Actual: X279.h5
Shape final: (39199, 1917)
Actual: X78.h5
Shape final: (39211, 1917)
Actual: X29.h5
Shape final: (39223, 1917)
Actual: X58.h5
Shape final: (40069, 1917)
Actual: X259.h5
Shape final: (41246, 1917)
Actual: X208.h5
Shape final: (43779, 1917)
Actual: X199.h5
Shape final: (44205, 1917)
Actual: X189.h5
Shape final: (44217, 1917)
Actual: X218.h5
Shape final: (44229, 1917)
Actual: X249.h5
Shape final: (44241, 1917)
Actual: X48.h5
Shape final: (44253, 1917)
Actual: X19.h5
Shape final: (44645, 1917)
Actual: X59.h5
Shape final: (44657, 1917)
Actual: X258.h5
Shape final: (44669, 1917)
Actual: X198.h5
Shape final: (44681, 1917)
Actual: X209.h5
Shape final: (44693, 1917)
Actual: X219.h5
Shape final: (44705, 1917)
Actual: X188.h5
Shape final: (44717, 1917)
Actual: X248.h5
Shape final: (44729, 1917)
Actual: X49.h5
Shape final: (46868, 1917)
Actual: X18.h5
Shape final: (46880, 1917)
Actual: X38.h5
Shape final: (46892, 1917)
Actual: X69.h5
Shape final: (46904, 1917)
Actual: X268.h5
Shape final: (48568, 1917)
Actual: X239.h5
Shape final: (48580, 1917)
Actual: X9.h5
Shape final: (48592, 1917)
Actual: X229.h5
Shape final: (48755, 1917)
Actual: X278.h5
Shape final: (48767, 1917)
Actual: X79.h5
Shape final: (48792, 1917)
Actual: X28.h5
Shape final: (50707, 1917)
Actual: X139.h5
Shape final: (51847, 1917)
Actual: X168.h5
Shape final: (51859, 1917)
Actual: X178.h5
Shape final: (52475, 1917)
Actual: X129.h5
Shape final: (52487, 1917)
Actual: X99.h5
Shape final: (52499, 1917)
Actual: X109.h5
Shape final: (53602, 1917)
Actual: X158.h5
Shape final: (53614, 1917)
Actual: X148.h5
Shape final: (54002, 1917)
Actual: X288.h5
Shape final: (54014, 1917)
Actual: X119.h5
Shape final: (54026, 1917)
Actual: X89.h5
Shape final: (54038, 1917)
Actual: X98.h5
Shape final: (54050, 1917)
Actual: X108.h5
Shape final: (54062, 1917)
Actual: X159.h5
Shape final: (54074, 1917)
Actual: X149.h5
Shape final: (54086, 1917)
Actual: X118.h5
Shape final: (54993, 1917)
Actual: X289.h5
Shape final: (56009, 1917)
Actual: X88.h5
Shape final: (56252, 1917)
Actual: X138.h5
Shape final: (56264, 1917)
Actual: X169.h5
Shape final: (56407, 1917)
Actual: X179.h5
Shape final: (56419, 1917)
Actual: X128.h5
Shape final: (56431, 1917)
Actual: X265.h5
Shape final: (60558, 1917)
Actual: X234.h5
Shape final: (60570, 1917)
Actual: X156.h5
Shape final: (60582, 1917)
Actual: X50.h5
Shape final: (60594, 1917)
Actual: X4.h5
Shape final: (60875, 1917)
Actual: X107.h5
Shape final: (60887, 1917)
Actual: X191.h5
Shape final: (60899, 1917)
Actual: X200.h5
Shape final: (60911, 1917)
Actual: X97.h5
Shape final: (61158, 1917)
Actual: X251.h5
Shape final: (61170, 1917)
Actual: X133.h5
Shape final: (62889, 1917)
Actual: X35.h5
Shape final: (62901, 1917)
Actual: X64.h5
Shape final: (64400, 1917)
Actual: X162.h5
Shape final: (64412, 1917)
Actual: X172.h5
Shape final: (65647, 1917)
Actual: X74.h5
Shape final: (65659, 1917)
Actual: X25.h5
Shape final: (68663, 1917)
Actual: X123.h5
Shape final: (68675, 1917)
Actual: X241.h5
Shape final: (69143, 1917)
Actual: X87.h5
Shape final: (69155, 1917)
Actual: X210.h5
Shape final: (69167, 1917)
Actual: X181.h5
Shape final: (70640, 1917)
Actual: X286.h5
Shape final: (71359, 1917)
Actual: X117.h5
Shape final: (71371, 1917)
Actual: X11.h5
Shape final: (71383, 1917)
Actual: X40.h5
Shape final: (72225, 1917)
Actual: X146.h5
Shape final: (72237, 1917)
Actual: X224.h5
Shape final: (72249, 1917)
Actual: X275.h5
Shape final: (72261, 1917)
Actual: X255.h5
Shape final: (72273, 1917)
Actual: X93.h5
Shape final: (72285, 1917)
Actual: X204.h5
Shape final: (72297, 1917)
Actual: X195.h5
Shape final: (72309, 1917)
Actual: X166.h5
Shape final: (72405, 1917)
Actual: X60.h5
Shape final: (72417, 1917)
Actual: X31.h5
Shape final: (73716, 1917)
Actual: X137.h5
Shape final: (73728, 1917)
Actual: X230.h5
Shape final: (73740, 1917)
Actual: X261.h5
Shape final: (73752, 1917)
Actual: X103.h5
Shape final: (74504, 1917)
Actual: X54.h5
Shape final: (74516, 1917)
Actual: X152.h5
Shape final: (74528, 1917)
Actual: X142.h5
Shape final: (75592, 1917)
Actual: X44.h5
Shape final: (75604, 1917)
Actual: X15.h5
Shape final: (75616, 1917)
Actual: X113.h5
Shape final: (75628, 1917)
Actual: X282.h5
Shape final: (75640, 1917)
Actual: X271.h5
Shape final: (75820, 1917)
Actual: X220.h5
Shape final: (76198, 1917)
Actual: X127.h5
Shape final: (78634, 1917)
Actual: X21.h5
Shape final: (78646, 1917)
Actual: X70.h5
Shape final: (78690, 1917)
Actual: X176.h5
Shape final: (78702, 1917)
Actual: X185.h5
Shape final: (78714, 1917)
Actual: X214.h5
Shape final: (79416, 1917)
Actual: X83.h5
Shape final: (79428, 1917)
Actual: X245.h5
Shape final: (79440, 1917)
Actual: X254.h5
Shape final: (79452, 1917)
Actual: X194.h5
Shape final: (79464, 1917)
Actual: X205.h5
Shape final: (80301, 1917)
Actual: X92.h5
Shape final: (80313, 1917)
Actual: X61.h5
Shape final: (81630, 1917)
Actual: X167.h5
Shape final: (81642, 1917)
Actual: X136.h5
Shape final: (81819, 1917)
Actual: X30.h5
Shape final: (81831, 1917)
Actual: X231.h5
Shape final: (81843, 1917)
Actual: X260.h5
Shape final: (81855, 1917)
Actual: X1.h5
Shape final: (82086, 1917)
Actual: X102.h5
Shape final: (82098, 1917)
Actual: X153.h5
Shape final: (82110, 1917)
Actual: X55.h5
Shape final: (82355, 1917)
Actual: X45.h5
Shape final: (82367, 1917)
Actual: X143.h5
Shape final: (82379, 1917)
Actual: X283.h5
Shape final: (83758, 1917)
Actual: X112.h5
Shape final: (84586, 1917)
Actual: X14.h5
Shape final: (84598, 1917)
Actual: X270.h5
Shape final: (84610, 1917)
Actual: X221.h5
Shape final: (84622, 1917)
Actual: X20.h5
Shape final: (84634, 1917)
Actual: X126.h5
Shape final: (84646, 1917)
Actual: X177.h5
Shape final: (84658, 1917)
Actual: X71.h5
Shape final: (84670, 1917)
Actual: X82.h5
Shape final: (86866, 1917)
Actual: X215.h5
Shape final: (86878, 1917)
Actual: X184.h5
Shape final: (87613, 1917)
Actual: X244.h5
Shape final: (87942, 1917)
Actual: X264.h5
Shape final: (87954, 1917)
Actual: X235.h5
Shape final: (91744, 1917)
Actual: X51.h5
Shape final: (91756, 1917)
Actual: X157.h5
Shape final: (92042, 1917)
Actual: X5.h5
Shape final: (92054, 1917)
Actual: X106.h5
Shape final: (95351, 1917)
Actual: X96.h5
Shape final: (95363, 1917)
Actual: X201.h5
Shape final: (95375, 1917)
Actual: X190.h5
Shape final: (97296, 1917)
Actual: X250.h5
Shape final: (98435, 1917)
Actual: X34.h5
Shape final: (98892, 1917)
Actual: X132.h5
Shape final: (98904, 1917)
Actual: X163.h5
Shape final: (101215, 1917)
Actual: X65.h5
Shape final: (101227, 1917)
Actual: X75.h5
Shape final: (101239, 1917)
Actual: X173.h5
Shape final: (101251, 1917)
Actual: X122.h5
Shape final: (101263, 1917)
Actual: X24.h5
Shape final: (101275, 1917)
Actual: X240.h5
Shape final: (101287, 1917)
Actual: X180.h5
Shape final: (101299, 1917)
Actual: X211.h5
Shape final: (101866, 1917)
Actual: X86.h5
Shape final: (101878, 1917)
Actual: X10.h5
Shape final: (104920, 1917)
Actual: X116.h5
Shape final: (104932, 1917)
Actual: X287.h5
Shape final: (104944, 1917)
Actual: X147.h5
Shape final: (104956, 1917)
Actual: X41.h5
Shape final: (104968, 1917)
Actual: X225.h5
Shape final: (104980, 1917)
Actual: X274.h5
Shape final: (105049, 1917)

In [13]:
#format the date and sort the data
train_result_df['DATETIME'] = pd.to_datetime(train_result_df['DATETIME'], unit='s')
train_result_df = train_result_df.sort_values(['DATETIME'])
train_result_df.reset_index(drop=True,inplace=True)

In [14]:
#Check the result
train_result_df.tail(5)

,DATETIME,0,1,2,3,4,5,6,7,8,...,1906,1907,1908,1909,1910,1911,1912,1913,1914,1915
105044,2010-07-01 17:40:00,318.059998,-82.980003,0.0,466.170013,229.940002,753.830017,897.330017,0.0,591.799988,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
105045,2010-07-01 17:45:00,312.109985,-91.480003,0.0,453.519989,228.130005,783.429993,897.640015,0.0,591.640015,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
105046,2010-07-01 17:50:00,299.309998,-102.099998,0.0,443.500000,213.039993,746.409973,872.859985,0.0,599.530029,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
105047,2010-07-01 17:55:00,295.839996,-100.650002,0.0,441.010010,210.429993,739.979980,876.309998,0.0,599.880005,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
105048,2010-07-01 18:00:00,298.510010,-101.330002,0.0,436.200012,215.279999,728.739990,861.719971,0.0,606.099976,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Concat the date from the 2 different source together

In [15]:
result_df = pd.concat([train_result_df,adapt_result_df])
result_df = result_df.sort_values(['DATETIME'])
result_df.reset_index(drop=True,inplace=True)

In [16]:
result_df.head(5)

,DATETIME,0,1,2,3,4,5,6,7,8,...,1906,1907,1908,1909,1910,1911,1912,1913,1914,1915
0,2009-07-02 00:00:00,-79.500000,-397.619995,238.770004,-381.690002,-32.470001,-850.789978,-449.950012,872.809998,879.260010,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2009-07-02 00:05:00,-22.809999,-333.730011,239.580002,-243.929993,5.070000,-694.869995,-285.089996,835.020020,841.179993,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2009-07-02 00:10:00,23.020000,-301.720001,244.039993,-165.259995,39.049999,-591.559998,-178.179993,809.369995,815.349976,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2009-07-02 00:15:00,21.360001,-302.480011,242.220001,-159.979996,38.070000,-556.270020,-144.250000,805.049988,810.989990,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2009-07-02 00:20:00,25.180000,-299.279999,233.919998,-142.809998,42.450001,-494.029999,-84.699997,757.760010,763.349976,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
# #save the concatenated data
# result_df.to_csv(output_path + 'concatenated_raw_data.csv',index=False,sep=';',decimal=',')

## 3. EDA
- Check missing values
- Check missing datetimes
- Check locations with only 0 value

### Check missing values

In [18]:
#Check missing values
print('Number of missing values:', result_df.isna().sum().sum())

Number of missing values: 0

### Check missing datetimes

In [19]:
#Check min and max datetime
print('MIN DATETIME:', result_df['DATETIME'].min())
print('MAX DATETIME:', result_df['DATETIME'].max())

MIN DATETIME: 2009-07-02 00:00:00
MAX DATETIME: 2010-09-25 22:15:00

NOTE: For the task, we only want to keep full days

In [20]:
#Drop the last not full day's data
result_df = result_df[result_df['DATETIME'] < datetime.datetime(2010,9,25,0,0,0)]
print('MIN DATE:', result_df['DATETIME'].min())
print('MAX DATE:', result_df['DATETIME'].max())

MIN DATE: 2009-07-02 00:00:00
MAX DATE: 2010-09-24 23:55:00

In [21]:
#Generate a datetimerange to find missing dates
control_datetimes = pd.date_range(
    start = result_df['DATETIME'].min(),
    end = result_df['DATETIME'].max(),
    freq = "5T"
)
control_datetimes_df = pd.DataFrame(control_datetimes,columns=['DATETIME'])
control_datetimes_df['CONTROL'] = 1
control_datetimes_df.head(5)

             DATETIME  CONTROL
0 2009-07-02 00:00:00        1
1 2009-07-02 00:05:00        1
2 2009-07-02 00:10:00        1
3 2009-07-02 00:15:00        1
4 2009-07-02 00:20:00        1

In [22]:
# merge the control datetimerange to the original and count the missing datetimes
check_datetime_df = control_datetimes_df.merge(
    result_df[['DATETIME']],
    on=['DATETIME'],
    how='left'
)
missing_datetimes = check_datetime_df.isna().sum().sum()
print(f"Missing datetime(s): {missing_datetimes}")

Missing datetime(s): 0

### Check locations with only 0 value

In [23]:
# print("Number of rows:",len(result_df))

# # specifiy a threshold for filtering
# # ez nem a legjobb megoldás, nem jó hozzáállás, meg lehetne hagyni
# zero_drop_threshold = round(len(result_df) * 0.8, 0)
# print("Threshold:",int(zero_drop_threshold))

# # count the zero values and keep only those locations where the number of zeros is less than the threshold
# zero_locations_df = result_df[result_df == 0].count().to_frame()
# zero_locations_df.rename(columns={0 : 'ZEROS'},inplace=True)
# filled_locations_df = zero_locations_df[zero_locations_df['ZEROS'] <= zero_drop_threshold]
# filled_locations = filled_locations_df.index.tolist()
# print(f"{len(zero_locations_df) - len(filled_locations)} location(s) are dropped")

In [24]:
# keep only the locations with valid data
# result_df = result_df[filled_locations]
result_df.shape

(129600, 1917)

In [25]:
# #save the processed data
# result_df.to_csv(output_path + 'processed_data.csv',index=False,sep=';',decimal=',')

## 4. Standardize the data
- Standardize the data by locations for modelling

In [26]:
# copy the whole dataset
stand_result_df = result_df.copy(deep=True)

#standardize the data by locations (columns) with scipy
for col in stand_result_df.columns[1:]:
    stand_result_df[col] = scipy.stats.zscore(stand_result_df[col])

stand_result_df[stand_result_df.columns[1:4]].describe()

                  0             1             2
count  1.296000e+05  1.296000e+05  1.296000e+05
mean  -9.419006e-09 -7.158445e-08  1.130281e-07
std    1.000004e+00  1.000004e+00  1.000004e+00
min   -4.661140e+00 -5.923776e+00 -2.687912e+00
25%   -7.302927e-01 -6.783797e-01 -6.895432e-01
50%    7.566768e-02  5.038295e-02  7.118306e-02
75%    7.236614e-01  7.037089e-01  7.377802e-01
max    3.054663e+00  3.648373e+00  4.298556e+00

In [27]:
# #save the processed data
stand_result_df.to_csv(output_path + 'standardized_data.csv',index=False,sep=';',decimal=',')

## 5. Transform the data
- TODO

In [28]:
# # Add Date column
# stand_result_df['DATE'] = pd.to_datetime(stand_result_df['DATETIME']).dt.date

In [29]:
# # Melt the dataframe to DATE-DATETIME-LOCATION-VALUE format
# melted_fact_df = pd.melt(stand_result_df, id_vars=['DATE','DATETIME'],var_name='LOCATION', value_name='VALUE')
# melted_fact_df.head(5)

In [30]:
# # Melt the dataframe to DATE-LOCATION-VALUE_LIST format
# daily_fact_df = melted_fact_df.groupby(['DATE','LOCATION'])['VALUE'].apply(np.array).reset_index(name='VALUE_LIST')
# daily_fact_df.head(5)

In [31]:
# # Melt the dataframe to LOCATION-VALUE_LIST format
# location_fact_df = daily_fact_df.groupby(['LOCATION'])['VALUE_LIST'].apply(np.array).reset_index(name='VALUE_LIST')
# # stack the data to (450,288) shape
# location_fact_df['VALUE_LIST'] = location_fact_df['VALUE_LIST'].apply(lambda x : np.stack(x,axis = 0))
# # reshape the data to (450,288,1) shape
# location_fact_df['VALUE_LIST'] = location_fact_df['VALUE_LIST'].apply(lambda x : x.reshape(450,288,1))
# location_fact_df.head(5)

In [32]:
# save the model ready data to csv
# location_fact_df.to_csv(output_path + 'location_data.csv',index=False,sep=';',decimal=',')